body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background-color: bisque;
    
}

#templateHeader{
    width: 90vw;
    height: 5vh;
    background-color: aqua;
}

#projectView{
    width: 20%;
    height: 98%;
    background-color: blue;
}

#show{
    width: 79%;
    height: 98%;
    background-color: blueviolet;
}